<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta lang="fr">
    <meta name="author" content="Nicolas Legrand & Lisa Michel">
    <meta name="description" content="Créateur d'expériences pour la famille ">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}KIDS & FAMILY{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light" id="nav-desktop">
    <a class="navbar-brand" id="nav-link" href="{{ path('home') }}">
        {% for more in mores %}
        <img class="logoKF" src="{{ asset('uploads/files/' ~ more.logo) }}"alt="Logo Kids & Family"></a>
    {% endfor %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <i class="fas fa-home navIcon"></i>
                <a id="nav-link" class="nav-link" href="{{ path('home') }}">Home <span
                            class="sr-only">(current)</span></a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <i class="fas fa-user navIcon"></i>
                    <a id="nav-link" class="nav-link" href="{{ path('profile', {'id': app.user.id }) }}">Mon compte</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <i class="fas fa-edit navIcon"></i>
                <a id="nav-link" class="nav-link" href="{{ path('all_articles') }}#Kids&Family">Publications</a>
            </li>
            <li class="nav-item">
                <i class="fas fa-shopping-cart navIcon"></i>
                <a id="nav-link" target="_blank" class="nav-link" href="#">E-Shop</a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <i class="fas fa-map-marked-alt navIcon"></i>
                    <a id="nav-link" class="nav-link" href="{{ path('map') }}">La Carte</a>
                </li>

            {% endif %}

            {# <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                   </li> #}
        </ul>
        <div class="searchBar">
            <form class="form-inline my-2 my-lg-0 ">
                <input class="form-control mr-sm-2" type="search" placeholder="Rechercher..." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
            </form>
        </div>
        <div id="nav" class="col-md-4 col-sm-6 col-xs-12">
            <div class="connexionLink">
                {% if app.user %}
                    <a class="logLink" href="{{ path('app_logout') }}">Se Déconnecter</a>
                {% else %}
                    <a class="logLink" href="{{ path('app_login') }}">Se Connecter</a>
                {% endif %}
            </div>
            {% for link in links %}
                <ul class="social-icons">
                    <li><a target="_blank" href="{{ link.href }}"><i class="fa fa-{{ link.name }}"></i></a></li>
                </ul>
            {% endfor %}
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light" id="nav-mobile">
    <a class="navbar-brand" id="nav-link" href="#">KIDS & FAMILY</a>
    <button id="burger" class="navbar-toggler toggler-example purple white" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent41" aria-controls="navbarSupportedContent41"
            aria-expanded="false"
            aria-label="Toggle navigation"><span class="white-text"><i class="fas fa-bars"></i></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent41">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a id="navMobile-link" class="nav-link text-center" href="{{ path('home') }}">Home</a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a id="navMobile-link" class="nav-link text-center"
                       href="{{ path('profile', {'id': app.user.id }) }}">Mon
                        Compte</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a id="navMobile-link" class="nav-link text-center" href="{{ path('all_articles') }}#Kids&Family">Publications</a>
            </li>
            <li class="nav-item">
                <a id="navMobile-link" class="nav-link text-center" href="#">E-Shop</a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a id="navMobile-link" class="nav-link text-center" href="{{ path('map') }}">La Carte</a>
                </li>
            {% endif %}
            {% if app.user %}
                <li class="nav-item">
                    <a id="navMobile-link" class="nav-link text-center" href="{{ path('app_logout') }}">Se
                        déconnecter</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a id="navMobile-link" class="nav-link text-center" href="{{ path('app_login') }}">Se
                        connecter</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% if is_granted('ROLE_USER') %}
    <!-- The sidebar -->
    <div class="sidebar">
        <a href="{{ path('profile', {'id': user.id }) }}"><i class="fa fa-info-circle" id="iconsProfile"></i>
            Information</a>
        {% if app.user.id is same as (user.id) %}
            <a href="{{ path('my_address', {'id': user.id }) }}"><i class="fa fa-fw fa-home" id="iconsProfile"></i>
                Coordonnées</a>
        {% endif %}
        <a href="{{ path('categories', {'id' : user.id}) }}"><i class="fa fa-mobile" id="iconsProfile"></i>
            Catégories</a>
        <a href="{{ path('hobbies', {'id': user.id}) }}"><i class="fa fa-heart" id="iconsProfile"></i> Centres
            d'intérêts</a>
        {% if app.user.id is same as (user.id) %}
            <a href="{{ path('my_articles', {'id': user.id}) }}"><i class="fa fa-picture-o" id="iconsProfile"></i> Mes
                publications</a>
        {% else %}
            <a href="{{ path('my_articles', {'id': user.id}) }}"><i class="fa fa-picture-o" id="iconsProfile"></i>
                Publications</a>
        {% endif %}
        <a href="#"><i class="fa fa-commenting" id="iconsProfile"></i>
            Discussion</a>
    </div>
    <!-- dropdown -->
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <a href="{{ path('profile', {'id': user.id }) }}"><i class="fa fa-info-circle" id="iconsProfile"></i>
                <li> Information</li>
            </a>
            <a href="{{ path('my_address', {'id': user.id }) }}"><i class="fa fa-fw fa-home" id="iconsProfile"></i>
                <li> Coordonnées</li>
            </a>
            <a href="{{ path('categories', {'id' : user.id}) }}"><i class="fa fa-mobile" id="iconsProfile"></i>
                <li> Catégories</li>
            </a>
            <a href="{{ path('hobbies', {'id': user.id}) }}"><i class="fa fa-heart" id="iconsProfile"></i>
                <li> Centres d'intérêts</li>
            </a>
            <a href="{{ path('my_articles', {'id': user.id}) }}"><i class="fa fa-picture-o" id="iconsProfile"></i>
                <li> Mes publications</li>
            </a>
            <a href="#"><i class="fa fa-users" id="iconsProfile"></i>
                <li> Discussion</li>
            </a>
        </div>
    </div>

{% else %}
    <p class="text-center">Seuls les utilisateurs peuvent accéder à cette page <br>
        <a href="{{ path('app_login') }}">Connexion</a>
    </p>
{% endif %}

{% block body %}
{% endblock %}

<!-- Site footer -->

<footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->

        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <div class="footer-body">
                    <h5 class="text-uppercase font-weight-bold">Footer text 1</h5>
                    <p class="footerText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente
                        sint, nulla, nihil
                        repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam
                        recusandae
                        harum esse fugiat. Itaque, culpa?</p>
                </div>

            </div>
            <!-- Grid column -->
            <div class="col-md-3 mx-auto" id="footerLinks">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4 footTitle">LIENS</h5>
                <ul class="footer-links">
                    {% if app.user %}
                        <li class="fl"><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    {% else %}
                        <li class="fl"><a href="{{ path('app_login') }}">Se connecter</a></li>
                        <li class="fl"><a href="{{ path('app_register') }}">Créer un compte</a></li>
                    {% endif %}
                    <li class="fl"><a href="{{ path('about') }}">A propos</a></li>
                    <li class="fl"><a href="{{ path('contribute') }}">Contribuer</a></li>
                    <li class="fl"><a href="{{ path('contact') }}">Contact</a></li>
                    <li class="fl"><a href="{{ path('all_articles') }}#Kids&Family">Publications</a></li>
                    <li class="fl"><a href="#">Conditions d'utilisation</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2020 Tous droits réservés par
                    <a href="#">COM LM Kids and Family</a>
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
{% block javascripts %}
    <script src="https://kit.fontawesome.com/249275cf92.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
{% endblock %}
</html>
