{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Classification</th>
                <th>Address</th>
                <th>Heading</th>
                <th>Photo</th>
                <th>Video</th>
                <th>Pdf</th>
                <th>Needs</th>
                <th>Content</th>
                <th>PhotoB</th>
                <th>PhotoC</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.classification ? 'Yes' : 'No' }}</td>
                <td>{{ article.address }}</td>
                <td>{{ article.heading }}</td>
                <td>{{ article.photo }}</td>
                <td>{{ article.video }}</td>
                <td>{{ article.pdf }}</td>
                <td>{{ article.needs }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.photoB }}</td>
                <td>{{ article.photoC }}</td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_new') }}">Create new</a>
{% endblock %}
