{% extends 'base_user.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="profileCtn">
            <div class="card cardProfile" id="cardProfile">
                <div class="card-body">
                    {% if user.avatar %}
                        <img class="card-img-top imgProfile" src="{{ vich_uploader_asset(user, 'avatarFile') }}"
                             alt="profile picture">
                    {% endif %}
                    <h1>{{ user.username }}</h1>
                    {# TO DO : AJOUTER UN ISPUBLISHED EN BDD POUR PERMETTRE AUX UTILISATEURS DE DIVULGUER OU NON LEURS INFOS #}
                    <p>{{ user.firstname }}  {{ user.lastname }} <br>
                    <p class="title"><span class="bold"> E-mail :</span> {{ user.email }}<br>
                        {% if user.phone %}
                            <span class="bold"> Téléphone :</span>  0{{ user.phone }}<br>
                        {% endif %}
                        {% if user.mobile %}
                            <span class="bold"> Mobile :</span> 0{{ user.mobile }}<br>
                        {% endif %}
                        {% if user.profession %}
                            <span class="bold">Profession :</span> {{ user.profession }}<br>
                        {% endif %}
                        <span class="bold">Anniversaire :</span> {{ user.birthday | date("d/m") }}</p>

                    {% if app.user.id is same as (user.id) %}
                        <a class="logLink bold" href="{{ path('user_edit', {'id': user.id}) }}">
                            Modifier mon Profil
                        </a> <br>
                        <a class="logLink bold" href="{{ path('app_forgot_password_request') }}">
                            Modifier mon Mot de Passe
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>

    {% else %}
        <div class="mustCo">
            <p class="mustCoBody">Merci de vous connecter pour accéder au profil d'un utilisateur</p>
            <a class="logLink" href="{{ path('app_login') }}">Se connecter</a> <br>
            <a class="logLink" href="{{ path('app_register') }}">Créer un compte</a>
        </div>
    {% endif %}

{% endblock %}
